<div class="header-content">
    <h2>
        <i class="fa fa-list"></i>Edit Category
    </h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-list"></i>
                Category
                <i class="fa fa-angle-right"></i>
            </li>
        </ol>
    </div>
</div>
<div class="body-content animated fadeIn">
    <div class="row" style="margin-bottom: 25px">
        <div class="col-md-12">
            <button class="btn btn-primary" type="button" ui-sref="category">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Kembali</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Start horizontal form -->
            <div class="panel rounded shadow">
                <!-- /.panel-heading -->
                <div class="panel-body no-padding">
                    <form class="form-horizontal mt-10" name="editForm" ng-submit="save()" novalidate>
                        <div class="form-body">
                            <div class="form-group" ng-class="{ 'has-error': submitted && editForm.name.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Name</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="name" name="name" ng-model="category.name" type="text" required/>
                                    <div ng-if="submitted" ng-messages="editForm.name.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-body -->
                        <div class="form-footer">
                            <div class="col-sm-offset-3">
                                <button class="btn btn-success" type="submit">Save</button>
                            </div>
                        </div>
                        <!-- /.form-footer -->
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <!--/ End horizontal form -->
        </div>
    </div>
</div>
<footer class="footer-content" ng-include="'app/layouts/footer/footer.html'"></footer>
