<!-- Start left navigation - profile shortcut -->
<div class="sidebar-content" ng-show="vm.isAuthenticated()">
    <div class="media">
        <a class="pull-left has-notif avatar" ui-sref="profile">
            <img alt="profile" ng-show="account.profileImagePath == null" src="content/images/profiles/nopic.png">
            <img alt="profile" ng-hide="account.profileImagePath == null" ng-src="{{account.profileImagePath}}">
            <i class="online"></i>
        </a>
        <div class="media-body">
            <h4 class="media-heading">Hello,
                <span id="account-firstName">{{account.firstName}}</span>
            </h4>
            <small>Group:
                {{account.group.name}}</small>
        </div>
    </div>
</div>
<!-- /.sidebar-content -->
<!--/ End left navigation -  profile shortcut -->

<div class="sidebar-footer" ng-show="vm.isAuthenticated()">

    <a class="pull-left" data-placement="top" data-title="Profile" data-toggle="tooltip" id="profile" ui-sref="profile">
        <i class="fa fa-user"></i>
    </a>
    <a class="pull-left" data-placement="top" data-title="Lock Screen" data-toggle="tooltip" data-url="page-signin.html" href="javascript:void(0);" id="lock-screen">
        <i class="fa fa-lock"></i>
    </a>
    <a class="pull-left" data-placement="top" data-title="Setting" data-toggle="tooltip" href="javascript:void(0);" id="setting">
        <i class="fa fa-cog"></i>
    </a>
    <a class="pull-left" data-placement="top" data-title="Logout" data-toggle="tooltip" data-url="page-lock-screen.html" href="" id="logout" ng-click="vm.logout()">
        <i class="fa fa-power-off"></i>
    </a>
</div>

<!-- Start left navigation - menu -->
<ul class="sidebar-menu" ng-switch="vm.isAuthenticated()">

    <li ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="home">
            <span class="icon">
                <i class="fa fa-home"></i>
            </span>
            <span class="text">Home</span>
        </a>
    </li>
    <li class="sidebar-category" ng-switch-when="true">
        <span>Master</span>
        <span class=" pull-right">
            <span class="glyphicon glyphicon-folder-open"></span>
        </span>
    </li>
     <!-- <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="organisasi">
            <span class="icon">
                <i class="fa fa-list"></i>
            </span>
            <span class="text">Organization</span>
        </a>
    </li> -->
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="category">
            <span class="icon">
                <i class="fa fa-list"></i>
            </span>
            <span class="text">Category</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="product">
            <span class="icon">
                <i class="fa fa-square"></i>
            </span>
            <span class="text">Item</span>
        </a>
    </li>
    <!-- <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="supplier">
            <span class="icon">
                <i class="fa fa-square"></i>
            </span>
            <span class="text">Supplier</span>
        </a>
    </li> -->
    <!-- <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="province">
            <span class="icon">
                <i class="fa fa-map-pin"></i>
            </span>
            <span class="text">Province</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="district">
            <span class="icon">
                <i class="fa fa-map-pin"></i>
            </span>
            <span class="text">District</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="subDistrict">
            <span class="icon">
                <i class="fa fa-map-pin"></i>
            </span>
            <span class="text">Sub District</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="village">
            <span class="icon">
                <i class="fa fa-map-pin"></i>
            </span>
            <span class="text">Village</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="document">
            <span class="icon">
                <i class="fa fa fa-folder"></i>
            </span>
            <span class="text">Document</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="gallery">
            <span class="icon">
                <i class="fa fa-file-image-o"></i>
            </span>
            <span class="text">Gallery</span>
        </a>
    </li> -->
    <!--
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a ui-sref="service">
            <span class="icon">
                <i class="fa fa-thumbs-o-up"></i>
            </span>
            <span class="text">Service</span>
        </a>
    </li> -->
    <!-- <li ng-switch-when="true" ui-sref-active="active">
          <a ui-sref="image">
              <span class="icon">
                  <i class="fa fa-file-image-o"></i>
              </span>
              <span class="text">Image</span>
          </a>
      </li> -->

    

    <li class="sidebar-category" ng-switch-when="true">
        <span>Transaction</span>
        <span class=" pull-right">
            <span class="glyphicon glyphicon-transfer"></span>
        </span>
    </li>
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a ui-sref="req-head">
            <span class="icon">
                <i class="fa fa-money"></i>
            </span>
            <span class="text">Request Order</span>
        </a>
    </li> 
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a ui-sref="purchase">
            <span class="icon">
                <i class="fa fa-money"></i>
            </span>
            <span class="text">Purchase Order</span>
        </a>
    </li> 
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a ui-sref="issue">
            <span class="icon">
                <i class="fa fa-money"></i>
            </span>
            <span class="text">Issue Order</span>
        </a>
    </li> 
    <!-- <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a ui-sref="salesHead">
            <span class="icon">
                <i class="fa fa-money"></i>
            </span>
            <span class="text">Sales</span>
        </a>
    </li>  -->
    <li class="sidebar-category" ng-switch-when="true">
        <span>Report</span>
        <span class=" pull-right">
            <span class="glyphicon glyphicon-book"></span>
        </span>
    </li>
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a target="_self" href="" ng-click="vm.downloadFile2('/api/report/xlsx/product')">
            <span class="icon">
              <i class="glyphicon glyphicon-book"></i>
          </span>
            <span class="text">Product (XLSX)</span>
        </a>
    </li>
    <li class="sidebar-category">
        <span>Account</span>
        <span class=" pull-right">
            <span class="glyphicon glyphicon-user"></span>
        </span>
    </li>
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="settings">
            <span class="icon">
                <i class="glyphicon glyphicon-wrench"></i>
            </span>
            <span class="text">Settings</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="password">
            <span class="icon">
                <i class="glyphicon glyphicon glyphicon-lock"></i>
            </span>
            <span class="text">Password</span>
        </a>
    </li>
    <!-- <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="sessions">
            <span class="icon">
                <i class="glyphicon glyphicon glyphicon-cloud"></i>
            </span>
            <span class="text">Sessions</span>
        </a>
    </li> -->
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="profile">
            <span class="icon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <span class="text">Profile</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="message">
            <span class="icon">
                <i class="fa fa-envelope"></i>
            </span>
            <span class="text">Message</span>
        </a>
    </li>
    <li ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ng-click="vm.logout()">
            <span class="icon">
                <i class="glyphicon glyphicon-log-out"></i>
            </span>
            <span class="text">Log Out</span>
        </a>
    </li>
    <li ng-switch-when="false" ui-sref-active="active" prevent-bloat>
        <a href="" ng-click="vm.login()">
            <span class="icon">
                <i class="glyphicon glyphicon-log-in"></i>
            </span>
            <span class="text">Authenticate</span>
        </a>
    </li>
    <!-- <li ng-switch-when="false" ui-sref-active="active" prevent-bloat>
        <a ui-sref="register">
            <span class="icon">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </span>
            <span class="text">Register</span>
        </a>
    </li> -->
    <li class="sidebar-category" has-authority="ROLE_ADMIN" ng-switch-when="true">
        <span>Admin</span>
        <span class=" pull-right">
            <span class="glyphicon glyphicon-tower"></span>
        </span>
    </li>
    <li has-authority="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="user-management">
            <span class="icon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <span class="text">User management</span>
        </a>
    </li>
    <li has-authority="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="metrics">
            <span class="icon">
                <i class="glyphicon glyphicon-dashboard"></i>
            </span>
            <span class="text">Metrics</span>
        </a>
    </li>
    <li has-authority="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="health">
            <span class="icon">
                <i class="glyphicon glyphicon-heart"></i>
            </span>
            <span class="text">Health</span>
        </a>
    </li>
    <li has-authority="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="configuration">
            <span class="icon">
                <i class="glyphicon glyphicon-list-alt"></i>
            </span>
            <span class="text">Configuration</span>
        </a>
    </li>
    <li has-authority="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="audits">
            <span class="icon">
                <i class="glyphicon glyphicon-bell"></i>
            </span>
            <span class="text">Audits</span>
        </a>
    </li>
    <li has-authority="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="logs">
            <span class="icon">
                <i class="glyphicon glyphicon-tasks"></i>
            </span>
            <span class="text">Logs</span>
        </a>
    </li>
    <li ng-show="vm.swaggerEnabled" has-authority="ROLE_ADMIN" ng-switch-when="true" ui-sref-active="active" prevent-bloat>
        <a href="" ui-sref="docs">
            <span class="icon">
                <i class="glyphicon glyphicon-book"></i>
            </span>
            <span class="text">API Docs</span>
        </a>
    </li>
    <li has-authority="ROLE_ADMIN" ui-sref-active="active" ng-switch-when="true" prevent-bloat>
        <a ui-sref="entity-audit">
            <span class="icon">
                  <i class="glyphicon glyphicon-bell"></i>
              </span>
            <span class="text">Entity Audit</span>
        </a>
    </li>
</ul>
<!-- /.sidebar-menu -->
<!--/ End left navigation - menu -->
