<div class="modal fade" id="deleteCategoryConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="deleteForm" ng-submit="confirmDelete(orderDetil.id)">
                <div class="modal-header">
                    <button aria-hidden="true" class="close" data-dismiss="modal" ng-click="clear()" type="button">&times;</button>
                    <h4 class="modal-title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                    </button>
                    <button class="btn btn-danger" type="submit">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="createOrderDetil">
    <div class="modal-dialog">
        <div class="modal-content">
            
                <div class="modal-header">
                    <button aria-hidden="true" class="close" data-dismiss="modal" ng-click="clear()" type="button">&times;</button>
                    <h4 class="modal-title">Create Order Detil</h4>
                </div>
                <div class="modal-body">
                    <form name="createForm" class="form-horizontal">
                            <div class="form-group" ng-class="{ 'has-error': submitted && createForm.product.$invalid }">
                                <label class="col-sm-2 control-label" for="id">Item</label>
                                <div class="col-sm-5">
                                    <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0 font-text" name="product" ng-model="rodetil.product" required ng-options="product.name for product in productList track by product.id">
                                    </select>
                                </select>
                                </div>
                            </div>
                            <div  class="form-group" ng-class="{ 'has-error': submitted && createForm.qty.$invalid }">
                                <label class="col-sm-2 control-label" for="id">Qty</label>
                                <div class="col-sm-3">
                                <input class="form-control" id="qty" name="qty" ng-model="rodetil.qty" required type="text"/>
                                    <div ng-if="submitted" ng-messages="createForm.qty.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>

                                </div>
                            </div>
                            <div  class="form-group" ng-class="{ 'has-error': submitted && createForm.uom.$invalid }">
                                <label class="col-sm-2 control-label" for="id">Uom</label>
                                <div class="col-sm-3">
                                <input class="form-control" id="uom" name="uom" ng-model="rodetil.uom" required type="text"/>
                                    <div ng-if="submitted" ng-messages="createForm.uom.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>

                                </div>
                            </div>
                            
                            <div class="form-group" ng-class="{ 'has-error': submitted && createForm.notes.$invalid }">
                                <label class="col-sm-2 control-label" for="id">Notes</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="5" id="comment" ng-model="rodetil.notes"></textarea>
                                </div>
                            </div> 
                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                    </button>
                    <button class="btn btn-success" type="button" ng-click="create()">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Create</span>
                    </button>
                </div>
            
        </div>
    </div>
</div>
<div class="modal fade" id="editOrderDetil">
    <div class="modal-dialog">
        <div class="modal-content">
            
                <div class="modal-header">
                    <button aria-hidden="true" class="close" data-dismiss="modal" ng-click="clear()" type="button">&times;</button>
                    <h4 class="modal-title">Edit Order Detil</h4>
                </div>
                <div class="modal-body">
                    <form name="createForm" class="form-horizontal">
                            <div class="form-group" ng-class="{ 'has-error': submitted && createForm.product.$invalid }">
                                <label class="col-sm-2 control-label" for="id">Item</label>
                                <div class="col-sm-5">
                                    <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0 font-text" name="product" ng-model="rodetil.product" required ng-options="product.name for product in productList track by product.id">
                                    </select>
                                </select>
                                </div>
                            </div>
                            <div  class="form-group" ng-class="{ 'has-error': submitted && createForm.qty.$invalid }">
                                <label class="col-sm-2 control-label" for="id">Qty</label>
                                <div class="col-sm-3">
                                <input class="form-control" id="qty" name="qty" ng-model="rodetil.qty" required type="text"/>
                                    <div ng-if="submitted" ng-messages="createForm.qty.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>

                                </div>
                            </div>
                            <div  class="form-group" ng-class="{ 'has-error': submitted && createForm.uom.$invalid }">
                                <label class="col-sm-2 control-label" for="id">Uom</label>
                                <div class="col-sm-3">
                                <input class="form-control" id="uom" name="uom" ng-model="rodetil.uom" required type="text"/>
                                    <div ng-if="submitted" ng-messages="createForm.uom.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>

                                </div>
                            </div>
                            
                            <div class="form-group" ng-class="{ 'has-error': submitted && createForm.notes.$invalid }">
                                <label class="col-sm-2 control-label" for="id">Notes</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="5" id="comment" ng-model="rodetil.notes"></textarea>
                                </div>
                            </div> 
                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                    </button>
                    <button class="btn btn-info" type="button" ng-click="saveOrderDetil()">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Save</span>
                    </button>
                </div>
            
        </div>
    </div>
</div>
<div class="header-content">
    <h2>
        <i class="fa fa-list"></i>Edit Requisition Order
    </h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-list"></i>
                Requisition Order
                <i class="fa fa-angle-right"></i>
            </li>
        </ol>
    </div>
</div>
<div class="body-content animated fadeIn">
    <div class="row" style="margin-bottom: 25px">
        <div class="col-md-12">
            <button class="btn btn-primary" type="button" ui-sref="req-head">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Kembali</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Start horizontal form -->
            <div class="panel rounded shadow">
                <!-- /.panel-heading -->
                <div class="panel-body no-padding">
                    <form class="form-horizontal mt-10" name="editForm" ng-submit="save()" novalidate>
                        <div class="form-body">
                            <div class="form-group" ng-class="{ 'has-error': submitted && editForm.orderNo.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Ro No</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="orderNo" name="orderNo" ng-model="ro.orderNo" required type="text"/>
                                    <div ng-if="submitted" ng-messages="editForm.orderNo.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': submitted && editForm.orderDate.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Ro Date</label>
                                <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" data-toggle="tooltip" title="Start Date" name="startDate" class="form-control" uib-datepicker-popup="{{format}}" ng-model="ro.orderDate" is-open="popupStartDate.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats" placeholder="2017-12-10" 
                                             data-toggle="tooltip" title="Start Date"/>
                                        <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openStartDate()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                        </span>
                                </p>

                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': submitted && editForm.customer.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Customer</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="customer" name="customer" ng-model="ro.customer" required type="text"/>
                                    <div ng-if="submitted" ng-messages="editForm.customer.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group" ng-class="{ 'has-error': submitted && editForm.name.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Organization</label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="appName" id="appName" ng-model="appName">
                                    <option value=""></option>
                                    <option value="1">INFORMATION TECHNOLOGY</option>
                                    <option value="2">WAREHOUSE</option>
                                    <option value="4">CUSTOMER SERVICE</option>
                                    <option value="3">MARKETING</option>
                                </select>

                                </div>
                            </div> -->
                            <div class="form-group" ng-class="{ 'has-error': submitted && editForm.notes.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Notes</label>
                                <div class="col-sm-7">
                                    <textarea class="form-control" rows="5" id="comment" ng-model="ro.notes"></textarea>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': submitted && editForm.orderStatus.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Status</label>
                                <div class="col-sm-7">
                                      <select class="form-control" name="status" ng-model="ro.orderStatus" required disabled="">
                                        <option value="1">Proses</option>
                                        <option value="0">Draft</option>
                                      </select>
                                    <div ng-if="submitted" ng-messages="editForm.orderStatus.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.form-body -->
                        <div class="form-footer">
                            <div class="col-sm-offset-3">
                                <button class="btn btn-success" type="submit">Save</button>
                            </div>
                        </div>
                        <!-- /.form-footer -->
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
    <div class="row">
        <div class="col-md-12">
         <div class="panel rounded shadow">
            <div class="panel-heading">
                    <h3 class="panel-title">Requisition Order Detail List</h3>
                </div>
            <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-sm btn-success" type="button" ng-click="createFormDialog()">
                                <i class="fa fa-plus"></i>
                                &nbsp; Buat Baru
                            </button>
                        </div>
                        &nbsp;
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped" id="setting-product-table" st-pipe="callServer" st-table="categoryList">
                                <thead>
                                    <tr>
                                        <th style="width: 100px">Action</th>
                                        <th>ID</th>
                                        <th>Items</th>
                                        <th>Qty</th>
                                        <th>UOM</th>
                                        <th>Notes</th>
                                        
                                    </tr>
                                    <th></th>
                                    <th></th>
                                    <th><input st-search="name"/></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                   
                                    <tr>
                                        <td class="text-center" colspan="6" st-items-by-page="20" st-pagination=""></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="category in orderDetilList">
                                        <td>
                                            <button class="btn btn-sm btn-warning" ng-click="editFormDialog(category.id)">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            &nbsp;
                                            <button class="btn btn-sm btn-danger" ng-click="delete(category.id)" type="button">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                        <td>{{category.id}}</td>
                                        <td>{{category.product.name}}</td>
                                        <td>{{category.qty}}</td>
                                        <td>{{category.uom}}</td>
                                        <td>{{category.notes}}</td>
                                    </tr>
                                    </tbody>
                                    <tbody ng-show="isLoading">
                                        <tr>
                                            <td class="text-center" colspan="6">Loading ...
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-center" colspan="6" st-items-by-page="20" st-pagination=""></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- /.panel-body -->
            <!--/ End horizontal form -->
        </div>
    </div>
</div>
<footer class="footer-content" ng-include="'app/layouts/footer/footer.html'"></footer>
