/* ========================================================================
 * TABLE OF CONTENTS
 * ========================================================================

 * ========================================================================
 * LAYOUT
 * ========================================================================
   01. HEADER
   02. SIDEBAR LEFT & RIGHT
   03. PAGE CONTENT
 * ========================================================================

 * ========================================================================
 * PAGES
 * ========================================================================
   01. SIGN
   02. ERROR
   03. INVOICE
 * ========================================================================

 * ========================================================================
 * COMPONENT
 * ========================================================================
   01. RESET
   02. PANEL
   03. MEDIA MANAGER
   04. PAGINATION
   05. RATING STAR
   06. DROPDOWN
   07. LIST GROUP
   08. FORM
   09. TABLE
   10. BUTTON
   11. MISC
 * ========================================================================

 * ========================================================================
 * PLUGINS
 * ========================================================================
   01. CHOSEN
   02. DROPZONE
   03. JPRELOADER
   04. DATEPICKER
   05. ION SLIDER
 * ======================================================================== */
/* ========================================================================
 * HEADER
 * ======================================================================== */
body.page-sidebar-minimize #header .navbar-minimize > a {
  background-color: #FF8C00;
  color: #FFFFFF;
}
body.page-sidebar-minimize #header .navbar-minimize:hover > a {
  background-color: #e67e00;
}

#header .navbar-header {
  background-color: #FF8C00;
}

/* ========================================================================
 * SIDEBAR LEFT & RIGHT
 * ======================================================================== */
#sidebar-left.sidebar-box .sidebar-content img, #sidebar-left.sidebar-rounded .sidebar-content img, #sidebar-left.sidebar-circle .sidebar-content img {
  border: 2px solid #FF8C00;
}
#sidebar-left.sidebar-box .sidebar-menu > li.active > a > .icon i, #sidebar-left.sidebar-rounded .sidebar-menu > li.active > a > .icon i, #sidebar-left.sidebar-circle .sidebar-menu > li.active > a > .icon i {
  background-color: #FF8C00;
}
#sidebar-left.sidebar-box .sidebar-menu > li > ul > li:hover:after, #sidebar-left.sidebar-rounded .sidebar-menu > li > ul > li:hover:after, #sidebar-left.sidebar-circle .sidebar-menu > li > ul > li:hover:after {
  -moz-box-shadow: 0 0 0 5px #cc7000;
  -webkit-box-shadow: 0 0 0 5px #cc7000;
  box-shadow: 0 0 0 5px #cc7000;
}
#sidebar-left .sidebar-menu ul li:hover:after {
  background-color: #FF8C00;
}
#sidebar-left .sidebar-menu ul li:hover a:before {
  color: #FF8C00;
}
#sidebar-left .sidebar-menu ul li.active:after {
  background-color: #FF8C00;
}
#sidebar-left .sidebar-menu ul li.active > ul > li.active a:before {
  color: #FF8C00;
}

/* ========================================================================
 * PAGE CONTENT
 * ======================================================================== */
body.page-sidebar-minimize .navbar-minimize, body.page-sidebar-minimize-auto .navbar-minimize {
  border-right: 1px solid #FF8C00 !important;
}
body.page-sidebar-minimize .navbar-minimize a, body.page-sidebar-minimize-auto .navbar-minimize a {
  background-color: #FF8C00;
  border-bottom: 1px solid #FF8C00;
}
body.page-sidebar-minimize .navbar-minimize a:hover, body.page-sidebar-minimize-auto .navbar-minimize a:hover {
  background-color: #e67e00;
  border-bottom: 1px solid #e67e00;
}
body.page-sidebar-minimize .navbar-minimize a i, body.page-sidebar-minimize-auto .navbar-minimize a i {
  color: #FFFFFF;
}

.navbar-minimize-mobile {
  background-color: #FF8C00;
}
.navbar-minimize-mobile:hover {
  background-color: #e67e00;
}

@media (max-width: 768px) {
  body.page-sidebar-left-show .navbar-minimize-mobile, body.page-sidebar-right-show .navbar-minimize-mobile {
    background-color: #cc7000;
  }
  body.page-sidebar-left-show .navbar-minimize-mobile:hover, body.page-sidebar-right-show .navbar-minimize-mobile:hover {
    background-color: #e67e00;
  }
}
.navbar-toolbar .navbar-form input:focus {
  border: 1px solid #FF8C00;
}
.navbar-toolbar .navbar-form .btn-focus {
  background-color: #FF8C00;
  box-shadow: none;
  border: none;
  color: #FFFFFF;
}
.navbar-toolbar .navbar-right .dropdown > a:focus > i {
  color: #FF8C00;
}

/* ========================================================================
 * SIGN
 * ======================================================================== */
.sign-wrapper a {
  color: #FF8C00;
}
.sign-wrapper a:hover, .sign-wrapper a:focus, .sign-wrapper a:active {
  color: #fa8900;
}

.sign-text:before {
  background-color: #ffa333;
}

.sign-header {
  background-color: #FF8C00;
  border-bottom: 10px solid #db7800;
}

.sign-text span {
  background-color: #FF8C00;
}
.sign-text img {
  border: 7px solid #FF8C00;
}

/* ========================================================================
 * ERROR
 * ======================================================================== */
.error-wrapper h1 {
  color: #FF8C00;
}

/* ========================================================================
 * INVOICE
 * ======================================================================== */
.product-num {
  background-color: #FF8C00;
}

/* ========================================================================
 * RESET
 * ======================================================================== */
a {
  color: #FF8C00;
}
a:hover, a:active, a:focus {
  color: #cc7000;
}

input.no-border-left:focus, textarea.no-border-left:focus {
  border-top: 1px solid #FF8C00 !important;
  border-right: 1px solid #FF8C00 !important;
  border-bottom: 1px solid #FF8C00 !important;
  border-left: none !important;
}
input.no-border-right:focus, textarea.no-border-right:focus {
  border-top: 1px solid #FF8C00 !important;
  border-none: 1px solid #FF8C00 !important;
  border-bottom: 1px solid #FF8C00 !important;
  border-right: none !important;
}
input:focus, textarea:focus {
  border: 1px solid #FF8C00 !important;
}

/* ========================================================================
 * PANEL
 * ======================================================================== */
.panel-tab .panel-heading ul li.active a i {
  color: #FF8C00;
}
.panel-tab .panel-heading ul li a:hover i {
  color: #FF8C00;
}

/* ========================================================================
 * MEDIA MANAGER
 * ======================================================================== */
.media-manager .media-manager-options .filter-type a.active {
  color: #FF8C00;
}

/* ========================================================================
 * PAGINATION
 * ======================================================================== */
.pagination > li > a {
  color: #cc7000;
}
.pagination > .active > a, .pagination > .active > span {
  background-color: #cc7000;
  border: 1px solid #cc7000;
}
.pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #FF8C00;
  border: 1px solid #FF8C00;
}

.pager > li > a {
  color: #cc7000;
}

/* ========================================================================
 * RATING STAR
 * ======================================================================== */
.rating .star:hover:before {
  color: #FF8C00;
}
.rating .star.active:before {
  color: #FF8C00;
}
.rating .star.active ~ .star:before {
  color: #FF8C00;
}

/* ========================================================================
 * DROPDOWN
 * ======================================================================== */
.dropdown-menu li {
  position: relative;
}
.dropdown-menu li.active a {
  background-color: #FF8C00;
}
.dropdown-menu li.active:hover a, .dropdown-menu li.active:focus a, .dropdown-menu li.active:active a {
  background-color: #FF8C00;
  cursor: default;
}
.dropdown-menu li > a:hover:before {
  display: block;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  border-left: 3px solid #e67e00;
}

/* ========================================================================
 * LIST GROUP
 * ======================================================================== */
a.list-group-item.active {
  background-color: #FF8C00;
  border-color: #FF8C00;
}
a.list-group-item.active:hover, a.list-group-item.active:focus {
  background-color: #FF8C00;
  border-color: #FF8C00;
}

/* ========================================================================
 * FORM
 * ======================================================================== */
.ckbox-theme input[type=checkbox]:checked + label::after {
  border-color: #FF8C00;
  background-color: #FF8C00;
}
.ckbox-theme input[type=checkbox][disabled]:checked + label::after {
  border-color: #FF8C00;
  opacity: .5;
}

.rdio-theme input[type=radio]:checked + label::after {
  border-color: #FF8C00;
  background-color: #FF8C00;
}
.rdio-theme input[type=radio][disabled]:checked + label::after {
  border-color: #FF8C00;
  opacity: .5;
}

.form-control:focus {
  border: 1px solid #FF8C00;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-focus {
  border: 1px solid #FF8C00;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ========================================================================
 * TABLE
 * ======================================================================== */
.table-theme thead tr th {
  background-color: #FF8C00 !important;
  border-color: #ff981a #ff981a #db7800 !important;
  color: #fff;
}
.table-theme tbody tr td.sorting_1 {
  background: #ffaa42 !important;
  color: white;
  border-bottom: 1px solid #ffba66 !important;
}
.table-theme tfoot tr th {
  background-color: #FF8C00 !important;
  border-color: #db7800 #ff981a #ff981a !important;
  color: #fff;
}
.table-theme.table-bordered {
  border: 1px solid #FF8C00;
}
.table-theme.table-bordered thead tr th:first-child, .table-theme.table-bordered thead tr th:last-child, .table-theme.table-bordered tfoot tr th:first-child, .table-theme.table-bordered tfoot tr th:last-child {
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px;
  border-radius: 0px !important;
}
.table-theme.table-bordered tbody tr td.sorting_1 {
  border-right: 1px solid #ffba66 !important;
}
.table-theme table.has-columns-hidden > tbody > tr > td > span.responsiveExpander:before {
  color: white;
}
.table-theme table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander:before {
  color: white;
}

/* ========================================================================
 * BUTTON
 * ======================================================================== */
.btn-theme {
  background-color: #FF8C00;
  border-color: #FF8C00;
  color: white;
}
.btn-theme:hover, .btn-theme:focus, .btn-theme:active, .btn-theme.active, .btn-theme[disabled], .btn-theme.disabled {
  background-color: #e67e00;
  border-color: transparent;
  color: white;
}
.btn-theme.dropdown-toggle.btn-theme {
  background-color: #FF8C00;
  border-color: #e67e00;
  color: white;
}
.btn-theme.btn-alt {
  background-color: #e67e00;
  border: 1px solid #FF8C00;
}
.btn-theme.btn-alt:hover {
  background-color: #cc7000;
}
.btn-theme.btn-stroke {
  border: 1px double #FF8C00;
  background-color: transparent;
  color: #FF8C00;
}
.btn-theme.btn-stroke:hover {
  background-color: #e67e00;
  border-color: transparent;
  color: white;
}
.btn-theme.btn-solid {
  border: 1px solid #FF8C00;
}
.btn-theme.btn-dashed {
  border: 1px dashed #FF8C00;
}
.btn-theme.btn-dotted {
  border: 1px dotted #FF8C00;
}
.btn-theme.btn-double {
  border: 4px double #FF8C00;
}
.btn-theme.btn-inset {
  border: 4px inset #FF8C00;
}
.btn-theme.btn-circle {
  padding-left: 0;
  padding-right: 0;
  width: 34px;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50%;
  border-radius: 50% 50% 50% 50%;
}
.btn-theme.btn-slidedown:after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #cc7000;
  z-index: -1;
}
.btn-theme.btn-slidedown:hover, .btn-theme.btn-slidedown:active {
  color: white;
}
.btn-theme.btn-slidedown:hover:after, .btn-theme.btn-slidedown:active:after {
  height: 100%;
}
.btn-theme.btn-slideright:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #cc7000;
  z-index: -1;
}
.btn-theme.btn-slideright:hover, .btn-theme.btn-slideright:active {
  color: white;
}
.btn-theme.btn-slideright:hover:after, .btn-theme.btn-slideright:active:after {
  width: 100%;
}
.btn-theme.btn-expand:after {
  width: 0;
  height: 103%;
  top: 50%;
  left: 50%;
  background-color: #cc7000;
  opacity: 0;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.btn-theme.btn-expand:hover:after {
  width: 90%;
  opacity: 1;
}
.btn-theme.btn-expand:active:after {
  width: 101%;
  opacity: 1;
}
.btn-theme.btn-rotate {
  overflow: hidden;
}
.btn-theme.btn-rotate:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background-color: #cc7000;
  opacity: 0;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-theme.btn-rotate:hover:after {
  height: 260%;
  opacity: 1;
}
.btn-theme.btn-rotate:active:after {
  height: 400%;
  opacity: 1;
}
.btn-theme.btn-open {
  overflow: hidden;
}
.btn-theme.btn-open:after {
  width: 101%;
  height: 0;
  top: 50%;
  left: 50%;
  background-color: #cc7000;
  opacity: 0;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.btn-theme.btn-open:hover:after {
  height: 75%;
  opacity: 1;
}
.btn-theme.btn-open:active:after {
  height: 130%;
  opacity: 1;
}
.btn-theme.btn-push {
  background: #FF8C00;
  box-shadow: 0 6px #cc7000;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
.btn-theme.btn-push:hover {
  box-shadow: 0 4px #cc7000;
  top: 2px;
}
.btn-theme.btn-push:active {
  box-shadow: 0 0 #cc7000;
  top: 6px;
}
.btn-theme.btn-pushright {
  background: #FF8C00;
  box-shadow: 6px 0 #cc7000;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
.btn-theme.btn-pushright:hover {
  box-shadow: 4px 0 #cc7000;
  left: 2px;
}
.btn-theme.btn-pushright:active {
  box-shadow: 0 0 #cc7000;
  left: 6px;
}

/* ========================================================================
 * PANEL
 * ======================================================================== */
.panel-theme > .panel-heading {
  background-color: #FF8C00;
  border: 1px solid #fa8900;
  color: white;
}
.panel-theme > .panel-heading .option .btn:hover {
  background-color: #e67e00;
  color: white;
}
.panel-theme > .panel-heading .option .btn i {
  color: white;
}

.panel-bg-theme .panel-body {
  background-color: #FF8C00;
  color: white;
}
.panel-bg-theme .panel-body .text-muted {
  color: #f2f2f2;
}

/* ========================================================================
 * MISC
 * ======================================================================== */
.img-bordered-theme {
  border: 2px solid #FF8C00;
}

.progress-bar-theme {
  background-color: #FF8C00;
}

.fg-theme {
  color: #FF8C00 !important;
}

.nicescroll-rails div {
  background-color: #FF8C00 !important;
}

.sidebar .nicescroll-rails div {
  background-color: #323232 !important;
}

.cal-month-box {
  border-top: 7px solid #db7800 !important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.cal-row-head [class*="cal-cell1"], .cal-row-head [class*="cal-cell"] {
  background-color: #FF8C00;
  color: #FFFFFF;
  border-width: 0px 1px 0px !important;
  border-style: solid;
  border-color: #ff981a #ff981a #db7800 !important;
  border-left: none !important;
}
.cal-row-head [class*="cal-cell1"]:hover, .cal-row-head [class*="cal-cell"]:hover {
  background-color: #FF8C00 !important;
}
.cal-row-head [class*="cal-cell1"]:first-child, .cal-row-head [class*="cal-cell"]:first-child {
  border-width: 0px 1px 0px !important;
  border-style: solid;
  border-color: #ff981a #ff981a #db7800 !important;
}
.cal-row-head [class*="cal-cell1"]:last-child, .cal-row-head [class*="cal-cell"]:last-child {
  border-right: none !important;
}

#cal-day-panel {
  border-top: 7px solid #db7800 !important;
  background-color: rgba(255, 255, 255, 0.28);
}

.cal-day-today {
  background-color: #FF8C00 !important;
}

.cal-row-head + .cal-day-hour {
  background-color: #db7800 !important;
  color: #FFFFFF;
}

.bg-theme {
  background-color: #FF8C00 !important;
  border: 1px solid #FF8C00;
  color: white;
}
.bg-theme a, .bg-theme i, .bg-theme span, .bg-theme small, .bg-theme p {
  color: white;
}
.bg-theme .flot-tick-label.tickLabel {
  color: rgba(255, 255, 255, 0.5) !important;
}
.bg-theme .morris-hover-row-label {
  background-color: #cc7000;
}

#back-top:hover {
  background: #FF8C00;
  box-shadow: 0 0 0 6px #FFFFFF;
}

.jqvmap-zoomin,
.jqvmap-zoomout {
  background: #FF8C00 !important;
}
.jqvmap-zoomin:hover,
.jqvmap-zoomout:hover {
  background: #cc7000 !important;
}

/* ========================================================================
 * CHOSEN
 * ======================================================================== */
.chosen-container .chosen-results li.highlighted {
  background-color: #FF8C00 !important;
  background-image: none !important;
}

/* ========================================================================
 * DROPZONE
 * ======================================================================== */
.dz-file-preview .dz-details:before {
  color: #FF8C00;
}

/* ========================================================================
 * JPRELOADER
 * ======================================================================== */
#jpreBar {
  background-color: #FF8C00;
}

/* ========================================================================
 * DATEPICKER
 * ======================================================================== */
.datepicker table thead tr:first-child {
  background-color: #FF8C00;
}
.datepicker table thead tr:last-child {
  background-color: #cc7000;
}
.datepicker table thead tr th {
  background-color: #FF8C00;
  border-color: #e67e00 #e67e00 #db7800;
}
.datepicker table thead tr .prev:hover, .datepicker table thead tr .switch:hover, .datepicker table thead tr .next:hover {
  background-color: #e67e00 !important;
}
.datepicker table tbody tr td.active, .datepicker table tbody tr td.active:hover, .datepicker table tbody tr td.active:disabled, .datepicker table tbody tr td.active.disabled:hover {
  background-color: #FF8C00;
}
.datepicker table tbody tr td.active.active {
  background-color: #FF8C00;
}
.datepicker table tbody tr td.active.active:hover {
  background-color: #cc7000;
}
.datepicker .icon-arrow-left:before {
  font-family: "FontAwesome";
  content: "\f104";
}
.datepicker .icon-arrow-right:before {
  font-family: "FontAwesome";
  content: "\f105";
}

.datepicker-dropdown:after {
  border-bottom: 6px solid #FF8C00;
}

/* ========================================================================
 * ION SLIDER
 * ======================================================================== */
.slider-theme .irs-diapason {
  background-color: #ff981a !important;
}
.slider-theme .irs-slider {
  background-color: #FF8C00 !important;
}
.slider-theme #irs-active-slider, .slider-theme .irs-slider:hover {
  background-color: #FF8C00 !important;
}
.slider-theme .irs-from, .slider-theme .irs-to, .slider-theme .irs-single {
  background-color: #FF8C00 !important;
}
.slider-theme .irs-from:after, .slider-theme .irs-to:after, .slider-theme .irs-single:after {
  border-top-color: #FF8C00 !important;
}
.slider-theme .circle .irs-slider {
  top: 21px;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.slider-theme .donut .irs-slider {
  background: #e1e4e9 !important;
  top: 21px;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #FF8C00;
  margin-left: -3px;
}
