<!-- Start page header -->
<div class="modal-demo">
    <script type="text/ng-template" id="search-user-modal.view.html">
        <div class="modal-header">
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="vm.cancel()">&times;</button>
            <h4 class="modal-title">User Lookup</h4>
        </div>
        <div class="modal-body">
            <div class="table-responsive col-sm-12">
                <table class="table table-striped" id="user-table" st-pipe="vm.callServerUser" st-table="vm.userList">
                    <thead>
                        <tr>
                            <td class="text-center" colspan="2" st-items-by-page="20" st-pagination="" st-template="/app/layouts/pagination/pagination.custom.html"></td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Name</th>
                        </tr>
                        <th></th>
                        <th><input st-search="firstName" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in vm.userList" ui-sref="message-detail({ id: user.login })" ng-click="vm.cancel()" style="cursor: pointer">
                            <td>
                                <img ng-show="!user.profileImagePath" class="media-object thumbnail" ng-src="/content/images/profiles/nopic.png" width="50">
                                <img ng-hide="!user.profileImagePath" class="media-object thumbnail" ng-src="{{user.profileImagePath}}" width="50">
                            </td>
                            <td> {{user.firstName}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-show="vm.isLoading">
                        <tr>
                            <td class="text-center" colspan="2">Loading ...
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" colspan="2" st-items-by-page="20" st-pagination="" st-template="/app/layouts/pagination/pagination.custom.html"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>
</div>
<div class="header-content">
    <h2><i class="fa fa-file-text"></i> Message</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">Message</li>
        </ol>
    </div>
    <!-- /.breadcrumb-wrapper -->
</div>
<!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
<div class="body-content animated fadeIn">

    <div class="row" style="margin-bottom: 25px">
        <div class="col-md-12">
            <button class="btn btn-success" type="button" ng-click="open()">
            <span class="fa fa-plus"></span>
            New Message</button>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" st-pipe="callServerUnread" st-table="messageUnreadList">

            <h5 class="comment-count">Unread Message(s)</h5>

            <ul class="media-list comment-list">

                <li class="media" ng-show="!messageUnreadList.length">
                    <div class="media-body">
                        <p>- No Unread Messages - </p>
                    </div>
                </li>

                <li class="media" ng-repeat="messageUnread in messageUnreadList" ui-sref="message-detail({ id: messageUnread[1].login })" style="cursor: pointer">
                    <div class="media-left">
                        <img class="media-object thumbnail" ng-src="{{messageUnread[1].profileImagePath}}" alt="...">
                    </div>
                    <div class="media-body">
                        <!-- <a href="#" class="btn btn-success btn-xs pull-right rounded">Reply</a> -->
                        <h4>{{messageUnread[1].login}} <span class="badge badge-danger">{{messageUnread[0]}}</span></h4>
                        <!-- <small class="text-muted">Juni 16, 2014 at 7:30am</small> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
                    </div>
                </li>

                <!-- media -->

            </ul>
            <!-- comment-list -->


        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" st-pipe="callServerRead" st-table="messageReadList" style="cursor: pointer">

            <h5 class="comment-count">Read Message(s)</h5>

            <ul class="media-list comment-list">

                <li class="media" ng-show="!messageReadList.length">
                    <div class="media-body">
                        <p>- No Read Messages - </p>
                    </div>
                </li>

                <li class="media" ng-repeat="messageRead in messageReadList" ui-sref="message-detail({ id: messageRead[1].login })">
                    <div class="media-left">
                        <img class="media-object thumbnail" ng-src="{{messageRead[1].profileImagePath}}" alt="...">
                    </div>
                    <div class="media-body">
                        <!-- <a href="#" class="btn btn-success btn-xs pull-right rounded">Reply</a> -->
                        <h4>{{messageRead[1].login}} <span class="badge badge-default">{{messageRead[0]}}</span></h4>
                        <!-- <small class="text-muted">Juni 16, 2014 at 7:30am</small> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
                    </div>
                </li>

                <!-- media -->

            </ul>
            <!-- comment-list -->


        </div>

    </div>
    <!-- row -->

</div>
<!-- /.body-content -->
<!--/ End body content -->
