<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-file-text"></i> Message Detail</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">Message Detail</li>
        </ol>
    </div>
    <!-- /.breadcrumb-wrapper -->
</div>
<!-- /.header-content -->
<!--/ End page header -->

<!-- Start body content -->
<div class="body-content animated fadeIn">

    <div class="row" style="margin-bottom: 25px">
        <div class="col-md-12">
            <button class="btn btn-primary" type="button" ui-sref="message">
              <span class="glyphicon glyphicon-arrow-left"></span>
              Message List</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="media">
                <a href="#" class="pull-left">
                    <img alt="..." ng-src="{{from.profileImagePath}}" width="50" class="media-object">
                </a>
                <div class="media-body">
                    <h4 class="text-primary">{{from.firstName}}</h4>
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" st-pipe="callServer" st-table="messageList">

                    <!-- <h5 class="comment-count">You Have 7 Message(s)</h5> -->

                    <ul class="media-list niceScroll">

                        <li class="media" ng-class="{'whatsapp-bubble-self': message.from.login == account.login}" ng-repeat="message in messageList">
                            <div class="media-left">
                                <img class="media-object thumbnail" ng-src="{{message.from.profileImagePath}}" alt="...">
                            </div>
                            <div class="media-body">
                                <!-- <a href="#" class="btn btn-success btn-xs pull-right rounded">Reply</a> -->
                                <h4>{{message.from.firstName}} </h4>
                                <small class="text-muted">{{message.created | date:'medium'}}</small>
                                <p>{{message.text}}</p>
                            </div>
                        </li>

                        <!-- media -->

                    </ul>
                    <!-- comment-list -->
                    <br/>
                    <h5 class="comment-title mb-5">Write Message</h5>
                    <!-- <p class="text-muted">Your email address will not be published.</p> -->
                    <div class="mb-20"></div>

                    <form id="writeMessage" class="form-horizontal mb-20" role="form">
                        <!-- <div class="form-group no-margin">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control mb-15" placeholder="Name" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control mb-15" placeholder="Email" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control mb-15" placeholder="Website" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Title" />
                    </div> -->
                        <div class="form-group">
                            <textarea id="comment-form" class="form-control" rows="5" placeholder="Message goes here ..." ng-model="compose.text"></textarea>
                        </div>
                        <div class="form-group no-margin no-padding">
                            <button type="button" class="btn btn-success pull-right rounded" ng-click="send()">Send Message</button>
                        </div>
                    </form>

                </div>

            </div>
            <!-- row -->

        </div>
        <!-- /.panel-body -->
    </div>

</div>
<!-- /.body-content -->
<!--/ End body content -->
