<div class="header-content">
    <h2>
        <i class="fa fa-list"></i>Home Page
    </h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-list"></i> Home Page
                <i class="fa fa-angle-right"></i>
            </li>
        </ol>
    </div>
</div>
<div class="body-content animated fadeIn" ng-cloak>
    <div class="panel-body" ng-switch="vm.isAuthenticated()">
        <div class="row">

            <div class="col-md-9">

                <h1 data-translate="home.title">Welcome!</h1>
                <p class="lead" data-translate="home.subtitle">This is your homepage</p>

                <div>
                    <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                        You are logged in as user "{{vm.account.login}}".
                    </div>

                    <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
                        If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                    </div>

                    <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                        You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                    </div>

                    <div class="row" ng-switch-when="true">
                        <div class="col-md-8">
                            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"> chart-series="series"
                      </canvas>
                        </div>
                        <div class="col-md-4">
                            <canvas id="doughnut" class="chart chart-doughnut" chart-data="dataDoughnut" chart-labels="labelsDoughnut">
                      </canvas>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-3" ng-switch-when="true">
                <div class="recent-activity">
                    <h3>Recent Activity</h3>
                    <!-- Start recent activity item -->
                    <div class="recent-activity-item recent-activity-warning">
                        <div class="recent-activity-badge">
                            <span class="recent-activity-badge-userpic"></span>
                        </div>
                        <div class="recent-activity-body">
                            <div class="recent-activity-body-head">
                                <div class="recent-activity-body-head-caption">
                                    <h3 class="recent-activity-body-title">New Order</h3>
                                </div>
                            </div>
                            <div class="recent-activity-body-content">
                                <p>
                                    <a href="#">Grace Hudson</a> ordered 2 items ($34.45)
                                    <span class="text-block text-muted">on 02/12/15</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End recent activity item -->

                    <!-- Start recent activity item -->
                    <div class="recent-activity-item recent-activity-primary">
                        <div class="recent-activity-badge">
                            <span class="recent-activity-badge-userpic"></span>
                        </div>
                        <div class="recent-activity-body">
                            <div class="recent-activity-body-head">
                                <div class="recent-activity-body-head-caption">
                                    <h3 class="recent-activity-body-title">New Product</h3>
                                </div>
                            </div>
                            <div class="recent-activity-body-content">
                                <p>
                                    <a href="#">Project Blankon AngularJS</a> <span class="text-muted">was added on 02/12/15 by</span> Aaron Dias
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End recent activity item -->

                    <!-- Start recent activity item -->
                    <div class="recent-activity-item recent-activity-success">
                        <div class="recent-activity-badge">
                            <span class="recent-activity-badge-userpic"></span>
                        </div>
                        <div class="recent-activity-body">
                            <div class="recent-activity-body-head">
                                <div class="recent-activity-body-head-caption">
                                    <h3 class="recent-activity-body-title">New Content Page</h3>
                                </div>
                            </div>
                            <div class="recent-activity-body-content">
                                <p>
                                    <a href="#">About Us</a> <span class="text-muted">was edited on 02/12/15 by</span> Michelle Watkins
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End recent activity item -->

                    <!-- Start recent activity item -->
                    <div class="recent-activity-item recent-activity-success">
                        <div class="recent-activity-badge">
                            <span class="recent-activity-badge-userpic"></span>
                        </div>
                        <div class="recent-activity-body">
                            <div class="recent-activity-body-head">
                                <div class="recent-activity-body-head-caption">
                                    <h3 class="recent-activity-body-title">Theme Edit</h3>
                                </div>
                            </div>
                            <div class="recent-activity-body-content">
                                <p>
                                    <a href="#">Dashboard Blankon</a> <span class="text-muted">was edited on 02/12/15 by</span> Ngadiono CR
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End recent activity item -->

                    <!-- Start recent activity item -->
                    <div class="recent-activity-item recent-activity-danger">
                        <div class="recent-activity-badge">
                            <span class="recent-activity-badge-userpic"></span>
                        </div>
                        <div class="recent-activity-body">
                            <div class="recent-activity-body-head">
                                <div class="recent-activity-body-head-caption">
                                    <h3 class="recent-activity-body-title">New Product</h3>
                                </div>
                            </div>
                            <div class="recent-activity-body-content">
                                <p>
                                    <a href="#">Project Blankon AngularJS</a> <span class="text-muted">was added on 02/12/15 by</span> Aaron Dias
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End recent activity item -->

                    <!-- Start recent activity item -->
                    <div class="recent-activity-item recent-activity-lilac">
                        <div class="recent-activity-badge">
                            <span class="recent-activity-badge-userpic"></span>
                        </div>
                        <div class="recent-activity-body">
                            <div class="recent-activity-body-head">
                                <div class="recent-activity-body-head-caption">
                                    <h3 class="recent-activity-body-title">New Order</h3>
                                </div>
                            </div>
                            <div class="recent-activity-body-content">
                                <p>
                                    <a href="#">Grace Hudson</a> ordered 2 items ($34.45)
                                    <span class="text-block text-muted">on 02/12/15</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End recent activity item -->

                    <!-- Start recent activity item -->
                    <div class="recent-activity-item recent-activity-danger recent-activity-last">
                        <div class="recent-activity-badge">
                            <span class="recent-activity-badge-userpic"></span>
                        </div>
                        <div class="recent-activity-body">
                            <div class="recent-activity-body-head">
                                <div class="recent-activity-body-head-caption">
                                    <h3 class="recent-activity-body-title">New Order</h3>
                                </div>
                            </div>
                            <div class="recent-activity-body-content">
                                <p>
                                    <a href="#">Kelly Newman</a> ordered 4 items ($234.45)
                                    <span class="text-block text-muted">on 02/17/15</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End recent activity item -->
                </div>
            </div>

        </div>
    </div>
</div>
