<div class="header-content">
    <h2>
        <i class="fa fa-list"></i>Create Purchase Order
    </h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-list"></i>
                Purchase Order
                <i class="fa fa-angle-right"></i>
            </li>
        </ol>
    </div>
</div>
<div class="body-content animated fadeIn">
    <div class="row" style="margin-bottom: 25px">
        <div class="col-md-12">
            <button class="btn btn-primary" type="button" ui-sref="purchase">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Kembali</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
<!-- Start horizontal form -->
            <div class="panel rounded shadow">
<!-- /.panel-heading -->
                <div class="panel-body no-padding">
                    <form class="form-horizontal mt-10" name="createForm" ng-submit="create()" novalidate>
                        <div class="form-body">
                            <div class="form-group" ng-class="{ 'has-error': submitted && createForm.orderNo.$invalid }">
                                <label class="col-sm-3 control-label" for="orderNo">PO No</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="orderNo" name="orderNo" ng-model="ro.orderNo" required type="text"/>
                                    <div ng-if="submitted" ng-messages="createForm.orderNo.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': submitted && createForm.orderDate.$invalid }">
                                <label class="col-sm-3 control-label" for="id">PO Date</label>
                                <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" data-toggle="tooltip" title="Start Date" name="startDate" class="form-control" uib-datepicker-popup="{{format}}" ng-model="ro.orderDate" is-open="popupStartDate.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats"
                                             data-toggle="tooltip" title="Start Date"/>
                                        <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openStartDate()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                        </span>
                                </p>

                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': submitted && createForm.customer.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Supplier</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="customer" name="customer" ng-model="ro.customer" required type="text"/>
                                    <div ng-if="submitted" ng-messages="createForm.customer.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group" ng-class="{ 'has-error': submitted && createForm.name.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Organization</label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="appName" id="appName" ng-model="appName">
                                    <option value=""></option>
                                    <option value="1">INFORMATION TECHNOLOGY</option>
                                    <option value="2">WAREHOUSE</option>
                                    <option value="4">CUSTOMER SERVICE</option>
                                    <option value="3">MARKETING</option>
                                </select>

                                </div>
                            </div> -->
                            <div class="form-group" ng-class="{ 'has-error': submitted && createForm.notes.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Notes</label>
                                <div class="col-sm-7">
                                    <textarea class="form-control" rows="5" id="comment" ng-model="ro.notes"></textarea>
                                </div>
                            </div>
                        </div>
<!-- /.form-body -->
                        <div class="form-footer">
                            <div class="col-sm-offset-3">
                                <button class="btn btn-success" type="submit">Create</button>
                            </div>
                        </div>
<!-- /.form-footer -->
                    </form>
                </div>
<!-- /.panel-body -->
            </div>
<!-- /.panel -->
<!--/ End horizontal form -->
        </div>
    </div>
</div>
<footer class="footer-content" ng-include="'app/layouts/footer/footer.html'"></footer>
