<div class="modal fade" id="lookupDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Lookup Dialog</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive col-sm-12">
                    <table class="table table-striped" id="category-table" st-pipe="callServer" st-table="categoryList">
                        <thead>
                            <tr>
                                <td class="text-center" colspan="2" st-items-by-page="20" st-pagination="" st-template="/app/layouts/pagination/pagination.custom.html"></td>
                            </tr>
                            <tr>
                                <th>Action</th>
                                <th>Name</th>
                            </tr>
                            <th></th>
                            <th><input st-search="name"/></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="category in categoryList">
                            <td>
                                <button class="btn btn-sm btn-success" ng-click="selectLookup(category)" type="button">
                                    <i class="fa fa-hand-o-right"></i>
                                </button>
                            </td>
                            <td>{{category.name}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td class="text-center" colspan="2">Loading ...
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" colspan="2" st-items-by-page="20" st-pagination="" st-template="/app/layouts/pagination/pagination.custom.html"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" type="button">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
                <span>Cancel</span>
            </button>
        </div>
    </div>
</div>
</div>
<div class="header-content">
<h2>
    <i class="fa fa-square"></i>Create Product
</h2>
<div class="breadcrumb-wrapper hidden-xs">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-square"></i>
            Product
            <i class="fa fa-angle-right"></i>
        </li>
    </ol>
</div>
</div>
<div class="body-content animated fadeIn">
<div class="row" style="margin-bottom: 25px">
    <div class="col-md-12">
        <button class="btn btn-primary" type="button" ui-sref="product">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Kembali</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Start horizontal form -->
        <div class="panel rounded shadow">
            <!-- /.panel-heading -->
            <div class="panel-body no-padding">
                <form class="form-horizontal mt-10" name="createForm" ng-submit="create()" novalidate>
                    <div class="form-body">
                      <div class="form-group" ng-class="{ 'has-error': submitted && createForm.code.$invalid }">
                          <label class="col-sm-3 control-label" for="id">Code</label>
                          <div class="col-sm-7">
                              <input class="form-control" id="code" name="code" ng-model="product.code" required type="text"/>
                              <div ng-if="submitted" ng-messages="createForm.code.$error">
                                  <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                              </div>
                          </div>
                      </div>
                        <div class="form-group" ng-class="{ 'has-error': submitted && createForm.name.$invalid }">
                            <label class="col-sm-3 control-label" for="id">Name</label>
                            <div class="col-sm-7">
                                <input class="form-control" id="name" name="name" ng-model="product.name" required type="text"/>
                                <div ng-if="submitted" ng-messages="createForm.name.$error">
                                    <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': submitted && editForm.name.$invalid }">
                            <label class="col-sm-3 control-label" for="id">Amount</label>
                            <div class="col-sm-7">
                                <input class="form-control" id="amount" name="amount" ng-model="product.amount" required type="number"/>
                                <div ng-if="submitted" ng-messages="editForm.amount.$error">
                                    <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="buyPrice">
                                Buy Price</label>
                            <div class="col-sm-3">
                                <input class="form-control" currency-symbol="" fraction="0" id="amount" name="amount" ng-currency ng-model="product.buyPrice" required type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="sellPrice">
                                Sell Price</label>
                            <div class="col-sm-3">
                                <input class="form-control" currency-symbol="" fraction="0" id="amount" name="amount" ng-currency ng-model="product.sellPrice" required type="text"/>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': submitted && createForm.category-name.$invalid }">
                            <label class="col-sm-3 control-label" for="categoryName">Category</label>
                            <div class="col-sm-7">
                                <angucomplete-alt description-field="name" id="categoryName" name="categoryName" input-class="form-control form-control-small" pause="400" placeholder="Type Category Name Here ..." remote-url="http://localhost:8080/api/category?name=" selected-object="selectCategoryAc" title-field="name"/>
                                <input class="form-control" id="categoryName" name="categoryName" ng-model="product.category.name" readonly required type="text">
                                <div ng-if="submitted" ng-messages="createForm.categoryName.$error">
                                    <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-2">
                                <button class="btn btn-circle btn-default btn-stroke" id="lookupButton" ng-click="showLookup()" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div> -->
                        </div>
                    </div>
                    <!-- /.form-body -->
                    <div class="form-footer">
                        <div class="col-sm-offset-3">
                            <button class="btn btn-success" type="submit">Create</button>
                        </div>
                    </div>
                    <!-- /.form-footer -->
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <!--/ End horizontal form -->
    </div>
</div>
</div>
<footer class="footer-content" ng-include="'app/layouts/footer/footer.html'">
2015 &copy; Mascova
</footer>
