<div class="modal fade" id="lookupDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Request Order Dialog</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive col-sm-12">
                    <table class="table table-striped" id="category-table" st-pipe="callServerOrder" st-table="orderList">
                        <thead>
                            <tr>
                                <td class="text-center" colspan="2" st-items-by-page="20" st-pagination="" st-template="/app/layouts/pagination/pagination.custom.html"></td>
                            </tr>
                            <tr>
                                <th>Action</th>
                                <th>Nomor</th>
                            </tr>
                            <th></th>
                            <th><input st-search="name"/></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="category in orderList">
                            <td>
                                <button class="btn btn-sm btn-success" ng-click="selectLookup(category)" type="button">
                                    <i class="fa fa-hand-o-right"></i>
                                </button>
                            </td>
                            <td>{{category.orderNo}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td class="text-center" colspan="2">Loading ...
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" colspan="2" st-items-by-page="20" st-pagination="" st-template="/app/layouts/pagination/pagination.custom.html"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" type="button">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
                <span>Cancel</span>
            </button>
        </div>
    </div>
</div>
</div>
<div class="header-content">
    <h2>
        <i class="fa fa-list"></i>Create Issue
    </h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-list"></i>
                Issue Order
                <i class="fa fa-angle-right"></i>
            </li>
        </ol>
    </div>
</div>
<div class="body-content animated fadeIn">
    <div class="row" style="margin-bottom: 25px">
        <div class="col-md-12">
            <button class="btn btn-primary" type="button" ui-sref="issue">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Kembali</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
<!-- Start horizontal form -->
            <div class="panel rounded shadow">
<!-- /.panel-heading -->
                <div class="panel-body no-padding">
                    <form class="form-horizontal mt-10" name="createForm" ng-submit="create()" novalidate>
                        <div class="form-body">
                            <div class="form-group" ng-class="{ 'has-error': submitted && createForm.issueNo.$invalid }">
                                <label class="col-sm-3 control-label" for="issueNo">Issue No</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="issueNo" name="issueNo" ng-model="ro.issueNo" required type="text"/>
                                    <div ng-if="submitted" ng-messages="createForm.issueNo.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': submitted && createForm.issueDate.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Issue Date</label>
                                <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" data-toggle="tooltip" title="Start Date" name="startDate" class="form-control" uib-datepicker-popup="{{format}}" ng-model="ro.issueDate" is-open="popupStartDate.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats"
                                             data-toggle="tooltip" title="Start Date"/>
                                        <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openStartDate()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                        </span>
                                </p>

                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': submitted && createForm.issueName.$invalid }">
                                <label class="col-sm-3 control-label" for="issueName">Issue Name</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="issueName" name="issueName" ng-model="ro.issueName" required type="text"/>
                                    <div ng-if="submitted" ng-messages="createForm.issueName.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': submitted && createForm.notes.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Description</label>
                                <div class="col-sm-7">
                                    <textarea class="form-control" rows="6" id="comment" ng-model="ro.notes"></textarea>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': submitted && createForm.customer.$invalid }">
                                <label class="col-sm-3 control-label" for="id">RO Number</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="customer" name="customer" ng-model="ro.order.orderNo" type="text" disabled/>
                                    <div ng-if="submitted" ng-messages="createForm.customer.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                <button class="btn btn-circle btn-default btn-stroke" id="lookupButton" ng-click="showLookup()" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            </div>
                            <!-- <div class="form-group" ng-class="{ 'has-error': submitted && createForm.customer.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Customer</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="customer" name="customer" ng-model="ro.customer" type="text" disabled />
                                    <div ng-if="submitted" ng-messages="createForm.customer.$error">
                                        <div ng-messages-include="scripts2/components/messages/global-messages.html"></div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="form-group" ng-class="{ 'has-error': submitted && createForm.name.$invalid }">
                                <label class="col-sm-3 control-label" for="id">Organization</label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="appName" id="appName" ng-model="appName">
                                    <option value=""></option>
                                    <option value="1">INFORMATION TECHNOLOGY</option>
                                    <option value="2">WAREHOUSE</option>
                                    <option value="4">CUSTOMER SERVICE</option>
                                    <option value="3">MARKETING</option>
                                </select>

                                </div>
                            </div> -->
                            
                        </div>
<!-- /.form-body -->
                        <div class="form-footer">
                            <div class="col-sm-offset-3">
                                <button class="btn btn-success" type="submit">Create</button>
                            </div>
                        </div>
<!-- /.form-footer -->
                    </form>
                </div>
<!-- /.panel-body -->
            </div>
<!-- /.panel -->
<!--/ End horizontal form -->
        </div>
    </div>
</div>
<footer class="footer-content" ng-include="'app/layouts/footer/footer.html'"></footer>
