
<div>
    <h2><span data-translate="talarionApp.author.detail.title">Author</span> {{vm.author.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="talarionApp.author.name">Name</span></dt>
        <dd>
            <span>{{vm.author.name}}</span>
        </dd>
        <dt><span data-translate="talarionApp.author.birthDate">Birth Date</span></dt>
        <dd>
            <span>{{vm.author.birthDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="author-detail.edit({id:vm.author.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
